{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Why does it matter?<span class="text-muted"> Discover why a mood chart could help you.</span></h2>
      <p class="lead"><br/>Did you know that 76% of Americans encountered stress or anxiety issues in the past year alone? Unfortunately, the seriousness of conditions like stress, anxiety, and depression is often understated – these issues can manifest into physical symptoms if not treated properly.
        <br><br/><b>- mental.help</b> is built to help you track your mood, in order to you to understand how their moods fluctuate, and also to recognize the influence of mood on other behaviors, such as sleep, energy, and eating.
        <br/><br>Charting is the best way to detect mood swings and will give you a tool to use with your doctor to fight disorders, such as bipolar disorder. Learn how to chart your mood and notice signs that can important for your recovery.

      </p>
    </div>
    <div class="col-md-5">
      <img src="static/mental.helppic.png" class="img-thumbnail" alt="..." width="500" height="500" role="img">

    </div>
  </div>
{% endblock %}